<div class="summary">
    <div class="header">
        <span class="title">Summary</span>
        <div class="seperator"></div>
        <span class="description">Everything in a nutshell!</span>
    </div>
    <main>
        <div class="task-overview">
            <div class="top-section">
                <div class="task-status">
                    <span class="task-count">7</span>
                    <div class="task-description">
                        <span class="task-name">Tasks in</span>
                        <span class="task-name">Board</span>
                    </div>
                </div>
                <div class="task-status">
                    <span class="task-count">1</span>
                    <div class="task-description">
                        <span class="task-name">Tasks in</span>
                        <span class="task-name">Progress</span>
                    </div>
                </div>
                <div class="task-status">
                    <span class="task-count">2</span>
                    <div class="task-description">
                        <span class="task-name">Awaiting</span>
                        <span class="task-name">Feedback</span>
                    </div>
                </div>
            </div>
            <div class="middle-section">
                <div class="urgent-tasks">
                    <img src="../../../assets/img/prio_urgent.svg" alt="prio-urgent">
                    <div class="urgent-text">
                        <span class="count">0</span>
                        <span class="title">Urgent</span>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="deadline">
                    <span class="date">September 9, 2023</span>
                    <span class="upcoming">Upcoming Deadline</span>
                    <span class="error">Error</span>
                </div>
            </div>
            <div class="bottom-section">
                <div class="todo">
                    <img src="../../../assets/img/icon_pencil.svg" alt="pencil-icon">
                    <div class="todo-content">
                        <span class="count">2</span>
                        <span class="title">To-Do</span>
                    </div>
                </div>
                <div class="done">
                    <img src="../../../assets/img/icon_ok.svg" alt="ok-icon">
                    <div class="done-content">
                        <span class="count">2</span>
                        <span class="title">Done</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="greeting">
            <span class="date">Good morning,</span>
            <span class="user">Guest</span>
        </div>
    </main>
</div>