.contacts {
    display: flex;
    gap: 2rem;
    height: 100dvh;
}


.contact-preview {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-top: 50px;
    padding-left: 50px;

    .header {
        display: flex;
        gap: 2rem;
        align-items: center;

        .title {
            font-size: 3.5rem;
            font-weight: 700;
        }

        .seperator {
            width: 2px;
            height: 50px;
            background-color: #29ABE2;
        }

        .description {
            font-size: 27px;
        }
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .user-acronym {
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 100px;
            width: 100px;
            color: white;
            font-size: 28px;
            border: 5px solid #fff;
        }

        .user-content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .username {
                font-size: 2.5rem;
                font-weight: 500;
            }

            .user-option {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .edit {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: #29ABE2;
                    }
                }

                .delete {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        color: #29ABE2;
                    }
                }
            }
        }
    }

    .user-information {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .email,
        .phone {
            display: flex;
            gap: 0.25rem;
            font-size: 1rem;
            flex-direction: column;
        }

        a {
            text-decoration: none;
            color: #29ABE2;
        }

    }
}