<div class="contact-section">
    <div class="user-input">
        <label for="first_name">
            <input type="text">
        </label>
    </div>

    <div class="user-input">
        <label for="last_name">
            <input type="text">
        </label>
    </div>

    <div class="user-input">
        <label for="email">
            <input type="email">
        </label>
    </div>

    <div class="user-input">
        <label for="phone_number">
            <input type="number">
        </label>
    </div>

</div>


