<div class="sign-up">
    <div class="header">
        <img src="" alt="back">
        <span class="title">Sign up</span>
        <div class="blue-line"></div>
    </div>

    <form>
        <div class="user-input">
            <input type="text" placeholder="Username" name="username">
            <img src="../../../assets/img/person.svg" alt="username">
        </div>
        <div class="user-input">
            <input type="email" placeholder="Email" name="email">
            <img src="../../../assets/img/mail.svg" alt="email">
        </div>
        <div class="user-input">
            <input type="password" placeholder="Password" name="password">
            <img src="../../../assets/img/lock.svg" alt="email">
        </div>
        <div class="user-input">
            <input type="password" placeholder="Confirm Password" name="password">
            <img src="../../../assets/img/lock.svg" alt="password">
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>I accept the <a>Privacy Policy</a></span>
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>
