.board-droparea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    min-height: 300px;

    @media only screen and (max-width: 1250px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.dragarea {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 300px;
    overflow: auto;
}

.single-task {
    background-color: white;
    border-radius: 30px;
    min-width: 125px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 0.5rem;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    cursor: pointer;


    .category {
        color: white;
        border-radius: 0.5rem;
        padding: 0.4rem;
        width: min-content;
        font-size: 16px;
    }

    .title {
        font-weight: bold;
        margin: 0.5rem;
    }

    .description {
        margin: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-wrap: anywhere;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.droptitle {
    font-weight: bold;
    font-size: 1.25rem;
    color: #42526e;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: 900px) {
        flex-direction: row;
        overflow-x: scroll;
    }
}


.subtask-container {
    display: flex;
    height: 10px;
    align-items: center;
    gap: 10px;
}

.progressbar-container {
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    padding: 1px;
    width: 80%;

    div {
        background-color: #0d6efd;
        width: 40%;
        height: 5px;
        border-radius: 10px;
}
}

.progress-count {
    font-size: 0.7rem;
    font-weight: bold;
}

.single-task-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.75rem;
    padding-left: 0.75rem;

    img {
        width: 15px;
        object-fit: contain;
    }
}

app-taskcard {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

