<div class="contact-list">
    <button class="add-contact">
        <span>Add new contact</span>
        <img src="../../../../assets/img/icon_add_contact.png" alt="add-contact">
    </button>
    <div class="contacts">
       <div class="contact-section">
            <div class="contact-header">
                <span>A</span>
                <div class="seperator"></div>
            </div>
            <div class="single-contact">
                <div class="user-acronym">
                    <span>AM</span>
                </div>
                <div class="user-information">
                    <span>Username</span>
                    <a>Usermail</a>
                </div>
            </div>
       </div>
    </div>
</div>
