.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: white;
    height: 100%;
    padding: 32px 16px 32px 16px;
    overflow: auto;
    flex-shrink: 0;
    width: 350px;
    overflow-x: hidden;


    @media only screen and (max-width: 1250px) {
        width: 300px;
        padding-left: 30px;
    }


    @media only screen and (max-width: 1000px) {
        width: 100dvw;
    }


    

    .add-contact {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 18px 15px;
        background-color: #2a3647;
        border-radius: 10px;
        height: 55px;
        border: unset;

        span {
            color: white;
            font-size: 21px;
            line-height: 120%;
        }

        img {
            height: 24px;
            object-fit: contain;
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;


        .contact-header {
            gap: 2px;

            .separator {
                height: 1px;
                width: 80%;
                background: rgba(239, 239, 239);
            }
        }


        .single-contact {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 25px 15px 15px;
            border-radius: 30px;
            margin: 8px;
            width: 100%;
            cursor: pointer;
            gap: 1rem;

            &:hover {
                background-color: #2a3647;

                .contact-name {
                    color: white;
                }
            }

            .user-acronym {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                border: 4px solid #fff;
                background-color: lightgreen;
            }

            .user-information {
                display: flex;
                flex-direction: column;
                gap: 1rem;


                .contact-name {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .contact-mail {
                    color: #007cee;
                    font-size: 1rem;
                }
            }
        }
    }
}


.add-contact-popup {
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

.add-contact-mobile {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 5%;
    border: unset;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #2a3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    @media only screen and (max-width: 768px) {
        bottom: 15%;
    }
}