<div class="add-contact">
    <div class="add-contact-card">
        <div class="header">
            <img src="../../../../assets/img/logo.svg" alt="logo">
            <span class="title">Add contact</span>
            <div class="seperator"></div>
            <span class="text">Tasks are better with a team!</span>
        </div>
        <div class="content">
            <div class="user-avatar">
                <img src="../../../../assets/img/create_contact.svg" alt="avatar">
            </div>
            <div class="add-contact-form">
                <form (ngSubmit)="addContact()">
                    <div class="user-input">
                        <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
                        <img src="../../../../assets/img/person.svg" alt="person">
                    </div>
                    <div class="user-input">
                        <input type="email" placeholder="Email" name="email" [(ngModel)]="email">
                        <img src="../../../../assets/img/mail.svg" alt="email">
                    </div>
                    <div class="user-input">
                        <input type="number" [(ngModel)]="phone" name="phone" placeholder="Phone">
                        <img src="../../../../assets/img/form_phone.png" alt="phone">
                    </div>
                    <div class="btn-container">
                        <button type="button" (click)="cancel()" class="cancel-btn">Cancel X</button>
                        <button type="submit" class="save-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
