.add-task-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 100px;
    padding-left: 100px;
    overflow-y: scroll !important;
}

.title {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-main {
    display: flex;
    gap: 2rem;

    .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.std-userinput {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    font-size: 20px;

    &:focus {
        border: 1px solid #29ABE2;
        outline: #29ABE2;
    }

    &:active {
        border: 1px solid #29ABE2;
        outline: #29ABE2;
    }
}

textarea {
    height: 120px;
}

.form-input,
.form-textarea,
.form-select {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 20px;
    line-height: 120%;
}

.form-prio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .prio-buttons {
        display: flex;
        justify-content: space-between;
    }
}

.prio-btn {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 18px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 136px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    border: none;
}


.seperator {
    width: 1px;
    background-color: #d1d1d1;
    height: 400px;
}

.input-label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 120px;


    .clear-btn {
        display: flex;
        width: 136px;
        height: 55px;
        padding: 18px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #2a3647;
        cursor: pointer;
        font-size: 20px;
        transition: 125ms ease-in-out;


        &:hover {
            border: 1px solid #29ABE2;
            color: #29ABE2;
        }
    }

    .submit-btn {
        display: flex;
        width: max-content;
        height: 55px;
        padding: 18px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background-color: #2a3647;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 20px;
        transition: 125ms ease-in-out;

        &:hover {
            background-color: #29ABE2;
        }
    }

}

.prio-low {
    background-color: #7ae229;
    color: white;
}

.prio-medium {
    background-color: #ffa800;
    color: white;
}

.prio-urgent {
    background-color: #ff3d00;
    color: white;
}

.category-color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


.category-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    display: flex;
    justify-content: space-between;


    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


.category-menu {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: -5px;

    .category-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px 8px 24px;
        cursor: pointer;

        &:hover {
            background-color: rgb(239, 239, 239);
        }
    }

}

.subtask-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
}

.assigned-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.assigned-menu {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: -5px;


    .user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px 8px 24px;
        cursor: pointer;
        width: 420px;

        &:hover {
            background-color: rgb(239, 239, 239);
        }
    }
}


.subtask-input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 20px;

}

.subtask-btn{
    display: flex;
    gap: 5px;

    .subtask-seperator {
        background-color: #d1d1d1;
        width: 1px;
    }
    

    .cancel {
        transform: rotate(45deg);
    }
}



@media only screen and (max-width: 1400px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 400px;
    }
}

@media only screen and (max-width: 1300px) {
    .add-task-section {
        padding-left: 80px;
    }

    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 360px;
    }

    .prio-btn {
        width: 120px
    }
}


@media only screen and (max-width: 1200px) {

    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 320px;
    }

    .prio-btn {
        width: 110px;
    }
}


@media only screen and (max-width: 1125px) {

    .add-task-section {
        align-items: center;
    }

    .form-main {
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .seperator {
        display: none;
    }


    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 422px;
    }

    .prio-btn {
        width: 136px;
    }
}

@media only screen and (max-width: 768px) {
    .add-task-section {
        padding-left: 0;
        padding-top: 20px;
    }

    .btn-container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 400px;
    }

    .prio-btn {
        width: 125px;
    }
}


@media only screen and (max-width: 460px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 360px;
    }

    .prio-btn {
        width: 115px;
    }
}


@media only screen and (max-width: 420px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 320px;
    }

    .prio-btn {
        width: 105px;
        padding: 12px 8px;
    }
}


@media only screen and (max-width: 380px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 300px;
    }

    .prio-btn {
        width: 95px;
    }
}

@media only screen and (max-width: 350px) {
    .std-userinput,
    .assigned-container,
    .category-container,
    .subtask-container {
        width: 270px;
    }

    .prio-btn {
        width: 90px;
    }
}
