.add-task-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 100px;
    padding-left: 100px;
}

.title {
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-main {
    display: flex;
    gap: 2rem;

    .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

input,
select,
textarea {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    font-size: 20px;
}

textarea {
    height: 120px;
}

.form-input,
.form-textarea,
.form-select {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 20px;
    line-height: 120%;
}

.form-prio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .prio-buttons {
        display: flex;
        justify-content: space-between;
    }
}

.prio-btn {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 18px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 136px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    border: none;
}


.seperator {
    width: 1px;
    background-color: white;
    height: 400px;
}

.input-label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 120px;
}

.prio-low {
    background-color: #7ae229;
    color: white;
}

.prio-medium {
    background-color: #ffa800;
    color: white;
}

.prio-urgent {
    background-color: #ff3d00;
    color: white;
}

.category-color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


.category-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    display: flex;
    justify-content: space-between;


    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


.category-menu {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: -5px;

    .category-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px 8px 24px;
        cursor: pointer;

        &:hover {
            background-color: rgb(239, 239, 239);
        }
    }

}

.subtask-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
}

.assigned-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    padding: 13px 21px;
    width: 422px;
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.assigned-menu {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: -5px;

    .user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px 8px 24px;
        cursor: pointer;

        &:hover {
            background-color: rgb(239, 239, 239);
        }
    }
}

.subtask-inactive {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
        object-fit: contain;
    }
} 

.subtask-active {
    z-index: 999;
}


.overlay {
    height: 100dvh;
    width: 100dvw;
    background-color: transparent;
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
}