<div class="add-task-section">

    <span class="title">Add Task</span>

    <form (ngSubmit)="addTask()">
        <div class="form-main">
            <div class="left">
                <div class="form-input">
                    <span class="input-label">Title</span>
                    <input [(ngModel)]="title" type="text" name="title" placeholder="Enter a title">
                </div>
                <div class="form-textarea">
                    <span class="input-label">Description</span>
                    <textarea [(ngModel)]="description" name="description" id="" cols="30" rows="10"
                        placeholder="Enter a description"></textarea>
                </div>

                <div class="form-input">
                    <div class="assigned-container" (click)="openAssignedMenu()">
                        <span class="input-label">Assigned to</span>
                        <button>
                            <img src="../../../assets/img/arrow_down.png" alt="dropdown">
                        </button>
                    </div>
                    <div class="assigned-menu" *ngIf="assignedMenu">
                        <div class="user-item" *ngFor="let user of users; let i = index">
                            <span>{{ user.username }}</span>
                            <div (click)="assignUser(user)">
                                <img [src]="user.checked ? checkboxImages[1] : checkboxImages[0]" alt="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seperator"></div>

            <div class="right">
                <div class="form-input">
                    <span class="input-label">Due date</span>
                    <input [(ngModel)]="due_date" type="date" name="due_date" placeholder="due_date">
                </div>
                <div class="form-prio">
                    <span class="input-label">Prio</span>
                    <div class="prio-buttons">
                        <button type="button" class="prio-btn" (click)="selectPriority('L')"
                            [class.prio-low]="prio === 'L'">
                            <span>Low</span>
                            <img [src]="currentLowImage" alt="prio-low">
                        </button>
                        <button class="prio-btn" type="button" (click)="selectPriority('M')"
                            [class.prio-medium]="prio === 'M'">
                            <span>Medium</span>
                            <img [src]="currentMediumImage" alt="prio-medium">
                        </button>
                        <button class="prio-btn" type="button" (click)="selectPriority('U')"
                            [class.prio-urgent]="prio === 'U'">
                            <span>Urgent</span>
                            <img [src]="currentUrgentImage" alt="prio-urgent">
                        </button>
                    </div>
                </div>
                <div class="form-input" (click)="openCategoryMenu()">
                    <span class="input-label">Category</span>
                    <div class="category-container">
                        <span>{{ categoryLabel }}</span>
                        <button>
                            <img src="../../../assets/img/arrow_down.png" alt="dropdown">
                        </button>
                    </div>
                    <div class="category-menu" *ngIf="categoryMenu">
                        <div *ngFor="let category of categorys; let i = index" class="category-item"
                            (click)="selectCategory(category.id)">
                            <span>{{ category.name }}</span>
                            <div [ngStyle]="{'background-color': category.color}" class="category-color"></div>
                        </div>
                    </div>
                </div>
                <div class="form-input">
                    <span class="input-label">Subtasks</span>
                    <div class="subtask-container">
                        <div class="subtask-inactive" *ngIf="subtaskInactive; else subtaskActive"
                            (click)="toggleSubtasks()">
                            <span>Add new Subtask</span>
                            <img src="../../../assets/img/plus_icon.png" alt="add subtask">
                        </div>
                        <ng-template #subtaskActive>
                            <div class="subtask-active">
                                <input #inputField class="subtask-input" type="text" placeholder="Enter a new subtask">
                                <div class="subtask-btn-container">
                                    <img src="" alt="">
                                    <div></div>
                                    <img src="" alt="">
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button type="reset" class="clear-btn">
                <span>Clear</span>
                <span>X</span>
            </button>
            <button type="submit" class="submit-btn">
                <span>Create Task</span>
                <img src="../../../assets/img/icon_check.png" alt="submit">
            </button>
        </div>
    </form>
</div>

<div class="overlay" *ngIf="!subtaskInactive" (click)="toggleSubtasks()"></div>