
@import '../../../../../styles.scss';

.navbar-btn {
    background-color: $color-grey;
    border: none;
    display: flex;
    align-items: center;
    width: cacl(100% - padding);
    cursor: pointer;
    padding-left: 3rem; 
    gap: 8px;


    @media only screen and (max-width: 768px) {
        padding: 0;
        gap: 8;
        justify-content: space-around;
        width: unset;
    }

    img {
        width: 28px;
        height: 28px;

        @media only screen and (max-width: 480px) {
            height: 24px;
            width: 24px
        }
    }

    @media(max-width: 768px) {
        flex-direction: column;     
    }

    span {
        color: white;
        font-size: 18px;

        @media only screen and (max-width: 480px) {
            font-size: 16px;
        }
    }

    &:hover {
        background-color: $color-darkgrey;
    }
}