
@import '../../../styles.scss';

.sidebar-nav {
    position: fixed;
    z-index: 100;
    background-color: $color-grey;
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 232px;
    padding: 0px 0px 0px 0px;


    .content {
        height: 100%;

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .footer {
            display: flex;
            flex-direction: column;
    
            span {
                color: white;
    
            }
        }
    }

}