<div class="main-page">
    <app-sidebar (componentSelected)="onComponentSelect($event)"></app-sidebar>
    <main>
        <app-header></app-header>
        <div class="content">
            <app-board *ngIf="selectedComponent=== 'board'"></app-board>
            <app-contacts *ngIf="selectedComponent=== 'contacts'"></app-contacts>
            <app-add-task *ngIf="selectedComponent=== 'addTask'"></app-add-task>
            <app-summary *ngIf="selectedComponent=== 'summary'"></app-summary>
        </div>
    </main>
</div>