<div class="main-page">
    <app-sidebar (componentSelected)="onComponentSelect($event)"></app-sidebar>
    <main>
        <app-header (componentSelected)="onComponentSelect($event)"></app-header>
        <div class="content">
            <app-board *ngIf="selectedComponent=== 'board'"></app-board>
            <app-contacts *ngIf="selectedComponent=== 'contacts'"></app-contacts>
            <app-add-task *ngIf="selectedComponent=== 'addTask'"></app-add-task>
            <app-summary *ngIf="selectedComponent=== 'summary'" (componentSelected)="onComponentSelect($event)"></app-summary>
            <app-help *ngIf="selectedComponent === 'help'" (componentSelected)="onComponentSelect($event)"></app-help>
            <app-privacy *ngIf="selectedComponent === 'privacy'" (componentSelected)="onComponentSelect($event)"></app-privacy>
            <app-legalnotice *ngIf="selectedComponent === 'legal'" (componentSelected)="onComponentSelect($event)"></app-legalnotice> 
        </div>
    </main>
</div>