.main-page {
    height: 100dvh;
    width: 100dvw;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-grow: 1;

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

app-sidebar {
    flex: 0 0 12%;

    @media(max-width: 768px) {
        flex-direction: column;
        order: 1;
    }
}

main {
    flex: 1;
}


.content {
    height: 100%;
    width: 100%;
    background-color: rgba(246, 247, 248, 255);
    overflow-y: scroll;
}



